.create-room {
    bottom: 0;
    left: 0;
    position: absolute;
}

.join-game {
    height: 400px;
    position: relative;
}

hr {
    border-color: white;
    width: 60%;
}

.row {
    max-height: 400px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.col {
    padding-right: 0px;
    padding-left: 0px;
}

.enemy {
    background: #3c8f79;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 75px;
    padding-top: 8px;
}

.enemy:hover {
    background: #439e86;
}

.visit-play .visit {
    border-bottom-left-radius: 10px;
    background: rgba(30, 230, 56, 0.699);
    font-size: 1.7rem;
    color: white;
}

.visit-play .visit:hover {
    background: rgba(51, 233, 75, 0.76);
}

.visit-play .play:hover {
    background: rgba(51, 233, 75, 0.76);
    background: rgb(36, 207, 14);
}

.visit-play .play {
    border-bottom-right-radius: 10px;
    background: rgb(22, 189, 0);
    font-size: 1.7rem;
    color: white;
}

.enemy span {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

span strong {
    color: white;
    margin-left: 20px;
}

.header {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.header .btn-success {
    font-size: 1.2rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}