<!-- <div>
	<div class="container">
		<div class="join-game" [hidden]="inGame2 == null ? false : true ">
			<div class="room-list">
				<ul class="nav nav-pills">
					<li class="nav-item room-number" *ngFor="let enemyName of emptyRooms" style="margin-right: 10px;">
						<a class="nav-link active" title="Join room: {{enemyName}}"
							(click)="joinRoom(enemyName)">{{enemyName}}</a>
					</li>
				</ul>
			</div>
			<div class="create-room text-center">
				<button class="btn btn-secondary" (click)="createRoom()"> Create New Room</button>
			</div>
		</div>
		<div [hidden]="inGame2 == null ? true : false ">
			<h1>You are in game currently</h1>
		</div>
		<br>
	</div>
</div> -->

<div class="container">
	<div [hidden]="inGame2 == null ? false : true ">
		<div class="header">
			<button class="btn btn-success" (click)="createRoom()"> Create New Room</button>
			<span><strong>All rooms: {{totalRooms}}</strong></span>
			<span><strong>Users in games: {{usersInGame}}</strong></span>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col" *ngFor="let enemyName of emptyRooms" style="padding: 0 5px 0 5px; height: 70px;">
					<div class="enemy" style="height: 50px;" (click)="joinRoom(enemyName)">
							<span>{{enemyName}}</span>
					</div>
					<div class="visit-play">
						<div class="visit" style="display: inline-block; width: 50%;">
							Visit
						</div>
						<div class="play" style="display: inline-block; width: 50%;" (click)="joinRoom(enemyName)">
							Play
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<div [hidden]="inGame2 == null ? true : false ">
		<h1>You are in game currently</h1>
	</div>
</div>