<div class="container">
    <div class="container" style="margin-bottom: 15px;">
        <h1 style="color: #fffbcb;">Welcome {{user.username}}!</h1>
    </div>
    <div class="container">
        <div class="row" style="color: white">
            <div class="col-lg-4" style="text-align: left; color: #fffac5; padding-top: 20px; border: 1px solid white;">
                <h2 style="margin-bottom: 30px;">You have <strong style="color: cyan;">{{user.points}}</strong> points!
                </h2>
                <h3>Joined: {{joined(user.joined)}}</h3>
                <h3 style="margin-bottom: 30px;">{{user.email}}</h3>

                <button class="btn btn-info btn-block" style="font-size: 1.2rem; width: 60%;">Change email</button>
                <button class="btn btn-info btn-block" style="font-size: 1.2rem; width: 60%;">Change password</button>
                <p [hidden]="!delete"
                    style="text-align: center; padding-top: 15px; font-size: 2rem; font-weight: bold;">
                    <span style="color: #5cb85c;">{{user.win}}</span> | <span
                        style="color: #f0ad4e;">{{user.draw}}</span> | <span
                        style="color: #d9534f;">{{user.lost}}</span></p>
                <button (click)="deleteUser()" [hidden]="delete" class="btn btn-warning"
                    style="font-size: 1.2rem; margin-top: 20px; margin-right: 10px; width: 35%;">Yes</button>
                <button (click)="noDelete()" [hidden]="delete" class="btn btn-secondary"
                    style="font-size: 1.2rem; margin-top: 20px; width: 35%;">No</button>
                <button (click)="deleteU()" class="btn btn-danger"
                    style="position: absolute; bottom: 0; font-size: 0.9rem; margin-bottom: 10px;">Delete
                    profile</button>
            </div>
            <div class="col-lg-8">
                <div class="container">
                    <div class="container rank-user-points" style="margin-bottom: 10px;">
                        <div class="row" style="font-weight: 700; font-size: 1.7rem; border-radius: 10px; background: #5ab2a2;
                        color: #17182f;">
                            <div class="col-lg-3" style="padding-right: 0px; padding-left: 0px;">
                                <div>Result</div>
                            </div>
                            <div class="col-lg-2" style="padding-right: 0px; padding-left: 0px;">
                                <div>Shape</div>
                            </div>
                            <div class="col-lg-4" style="padding-right: 0px; padding-left: 0px;">
                                <div>Enemy</div>
                            </div>
                            <div class="col-lg-3" style="padding-right: 0px; padding-left: 0px;">
                                <div>Time</div>
                            </div>
                        </div>
                    </div>
                    <div class="container" style="max-height: 377px; overflow: scroll;
                    overflow-x: hidden; -ms-overflow-style: none; scrollbar-width: none; ">
                        <ul>
                            <li *ngFor="let game of user.games">
                                <div class="row justify-content-between"
                                    style="margin-top: 10px; font-size: 1.5rem; padding-top: 3px; color: white; padding-bottom: 3px; cursor: pointer;"
                                    routerLink="/home/player/{{game.enemy.username}}"
                                    [style.background]="resColor(game.win, game.draw)">
                                    <div class="col-lg-3">
                                        {{result(game.win, game.draw)}}
                                    </div>
                                    <div class="col-lg-2" style="font-weight: 600;">
                                        {{game.shape | uppercase}}
                                    </div>
                                    <div class="col-lg-4">
                                        {{game.enemy.username}}
                                    </div>
                                    <div class="col-lg-3">
                                        {{time(game.playTime)}}
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>