ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.row .col-lg-6:first-child {
    text-align: left;
}

.row .col-lg-6:last-child {
    text-align: right;
}

.header {
    background: #d1ebd1;
    font-size: 2rem;
    border-radius: 10px;
}

.header-2 {
    background: #d1ebd1;
    font-size: 2rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.header-3 {
    background: #d1ebd1;
    font-size: 2rem;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}