<!-- <h1>TIC-TAC-TOE</h1>
<a [routerLink]="routerLinkLogin"><button type="button" class="btn btn-success">Login</button></a>
<a [routerLink]="routerLinkSignUp"><button type="button"  class="btn btn-primary">Sign up</button></a>
<router-outlet></router-outlet> -->

<div class="full-page text-center" id="fullpage">
    <!-- <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark custom2" id="navbaar">
            <div class="container">
                <a href="/" class="logo navbar-brand">
                    <div class="logo-container">BB</div>
                </a>

                <button class="navbar-toggler custom-toggler" type="button" data-clicked="false" data-toggle="collapse"
                    data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation" id="toggler">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-link-text" href="#">Home</a>
                        <a class="nav-link nav-link-text" href="#">About</a>
                        <a class="nav-link nav-link-text" href="#">Contact</a>
                        <div class="nav-link pipe">|</div>
                        <a class="nav-link nav-link-text" href="#">Food</a>
                        <a class="nav-link nav-link-text" href="#">Weather</a>
                    </div>
                </div>
            </div>
        </nav>
    </header> -->

    <div class="container">
        <h1>Tic-Tac-Toe</h1>

        <a [routerLink]="routerLinkLogin"><button type="button" class="btn btn-success">Login</button></a>
        <a [routerLink]="routerLinkSignUp"><button type="button" class="btn btn-primary">Sign up</button></a>

        <router-outlet></router-outlet>
    </div>
</div>