.messageBox {
    height: 90%;
    background: rgb(247, 193, 131);
}

.sendMessage {
    height: 10%;
}

.chat {
    height: 450px;
    width: 250px;
}

.messageBox ul {
    list-style-type: none;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}

.shape-x {
    background: blue;
}

.shape-o {
    background: green;
}

td button {
    width: 100px;
    height: 100px;
}

.game {
    width: 75%;
}