ul {
    padding-top: 6px;
    list-style-type: none;
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}

ul li {
    margin-bottom: 5px;
}

.game-base {
    height: 100%;
    width: 75%;
    border-radius: 20px;
    background: rgb(255, 230, 216);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.message {
    max-width: 75%;
    word-wrap: break-word;
    font-size: 0.9rem;
    padding: 10px;
    display: inline-block;
    border-radius: 8px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


.players {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.shape-x {
    color: red;
}

.shape-o {
    color: blue;
}

p {
    font-weight: bold;
    font-size: 30px;
}

.enemy-color {
    background: rgb(6, 6, 46);
    color: white;
}

.own-color {
    background: white;
    color: rgb(6, 6, 46);
}

td button {
    width: 130px;
    height: 130px;
    font-size: 2.6em;
    font-size: 10vmin;
    padding-bottom: 15px;
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
}

.center {
    margin: 0 auto;
}

#you h2 {
    margin-bottom: 0px;
    color: navy;
}

#enemy h2 {
    margin-bottom: 0px;
    color: navy;
}

.row h2 {
    opacity: 0.5;
}

.row h4 {
    opacity: 0.5;
}

.whose-turn {
    border-bottom: 3px solid green;
}

.enemy-round {
    opacity: 0.5;
}

.whose-turn h4 {
    opacity: 1;
}

.whose-turn h2 {
    opacity: 1;
}

@media screen and (max-width: 1200px) {
    .game-base {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

@media screen and (max-width: 992px) {
    .game-base {
        width: 100%;
    }
    td button {
        width: 110px;
        height: 110px;
        padding-bottom: 15px;
    }
    .players {
        width: 330px;
        margin: 0 auto;
    }
    .message {
        padding: 7px;
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 576px) {
    .game-base {
        width: 100%;
    }
    td button {
        width: 90px;
        height: 90px;
    }
    .players {
        width: 270px;
        margin: 0 auto;
    }
}

/*
@media screen and (max-width: 1200px) {
    td button {
        width: 110px;
        height: 110px;
    }
    .players {
        width: 330px;
        margin: 0 auto;
    }
}



@media screen and (max-width: 766px) {
    td button {
        width: 90px;
        height: 90px;
    }
    .players {
        width: 270px;
        margin: 0 auto;
    }
}*/