<div class="container game-base text-center" [hidden]="roomName == null ? true : false">
  <div class="row text-center" style="height: 100%; padding-top: 10px;">
    <div class="col-sm-12 col-md-7 col-lg-7 text-center">
      <div class="container text-center">
        <div class="row text-center players">
          <div id="you" class="col-md-6">
            <h2>YOU</h2>
            <h4>{{myShape | uppercase}}</h4>
          </div>
          <div id="enemy" class="col-md-6">
            <h2>{{enemyName | uppercase}}</h2>
            <h4>{{enemyShape | uppercase}}</h4>
          </div>
        </div>
        <div class="game-board center text-center enemy-round">
          <table class="center text-center" style="margin-bottom: 10px;">
            <tr>
              <td style="border-bottom: 2px solid black; border-right: 2px solid black;"><button (click)="sendMove(1)"
                  id="button_1"></button></td>
              <td style="border-bottom: 2px solid black; border-right: 2px solid black"><button (click)="sendMove(2)"
                  id="button_2"></button></td>
              <td style="border-bottom: 2px solid black;"><button (click)="sendMove(4)" id="button_4"></button></td>
            </tr>
            <tr>
              <td style="border-bottom: 2px solid black; border-right: 2px solid black;"><button (click)="sendMove(8)"
                  id="button_8"></button></td>
              <td style="border-bottom: 2px solid black; border-right: 2px solid black;"><button (click)="sendMove(16)"
                  id="button_16"></button></td>
              <td style="border-bottom: 2px solid black;"><button (click)="sendMove(32)" id="button_32"></button></td>
            </tr>
            <tr>
              <td style="border-right: 2px solid black;"><button (click)="sendMove(64)" id="button_64"></button></td>
              <td style="border-right: 2px solid black;"><button (click)="sendMove(128)" id="button_128"></button></td>
              <td><button (click)="sendMove(256)" id="button_256"></button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5" style="height: 490px;">
      <div class="container text-center" style="height: 100%; border-radius: 4px 4px 0 0;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .3);">
        <div class="row" style="height: 100%; background-color: rgb(255, 245, 235)">
          <div class="col-md-12" style="height: 10%;  padding: 0px;">
            <div style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); height: 100%;">
              <p (click)="open()">Chat with {{enemyName}}!</p>
            </div>
          </div>
          <div class="col-md-12"
            style="height: 84%; overflow: scroll; overflow-x: hidden; scrollbar-width: none; -ms-overflow-style: none; padding-left: 0px; padding-right: 0px;"
            #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div>
              <ul>
                <li *ngFor="let message of messages" class="text-left" [class.text-right]="alignMessage(message.kuldo)">
                  <div class="enemy-color message text-left" [class.own-color]="alignMessage(message.kuldo)">
                    {{message.uzenet}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12" style="height: 6%; padding: 0px;">
            <div class="sendMessage">
              <form style="width: 100%;">
                <input id="message" [(ngModel)]="message" name="message" style="width: 80%;" autocomplete="off" />
                <button style="width: 20%;" (click)="sendMessage()"><img src="../../../assets/send-button-24.png"
                    style="width: 20px;" alt="Submit"></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="#355253c9" size="medium" color="#fff" type="ball-spin">
  <h2 class="text-center" style="padding-top: 30px; padding-bottom: 10px; color: white;">Waiting for other player</h2>
  <button class="btn btn-success" (click)="returnToLobby()">Back</button>
</ngx-spinner>