.messageBox {
    height: 90%;
    background: rgb(247, 193, 131);
}

.sendMessage {
    height: 10%;
}

.chat {
    height: 500px;
    width: 300px;
}

.messageBox ul {
    list-style-type: none;
    display: block;
    margin-block-start:0.2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 5px;
}