<div class="full-page text-center">
    <header>
        <div class="container">
            <a href="">Profile</a>
            <a href="">Rank</a>
            <a [routerLink]="routerLinkGames">Games</a>
            <a href="" (click)="logout()">Logout</a>
        </div>
    </header>

    <main>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </main>

    <footer>
        <div class="container">
            <h5>Copyright</h5>
        </div>
    </footer>
</div>