a {
    padding-right: 20px;
}

.full-page {
    background-image: linear-gradient(#EFEFBB, #D4D3DD);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 70%;
}

header {
    height: 20%;
    width: 100%;
    background: cyan;
}

footer {
    height: 10%;
    width: 100%;
    background: grey;
}

.full-page > .container {
    height: 100%;
}